html{
     background: url(https://i.pinimg.com/originals/2c/84/5a/2c845a66b8ad2a8aafd288bdc16cd459.jpg);
  
}
*{
    margin: 8px;
    padding: 0px;
    box-sizing: border-box;
    width: 1280 px;
    margin: 0 auto;
}
.container{
    text-align: center;
}
table, th, td, h1 {
    border:2px solid black;
    margin: 10px auto;
}
nav ul li a{
    text-decoration: none;
    font-weight: 600;
    color:#ff0000;
    font-size: 20px;
    margin-top: 2px;
    line-height: 40px;
}
nav ul li a:hover{
    text-decoration: underline;
}
ul{
    list-style: none;
}
h1{
    background-color:white;
    text-align: center;
} 
marquee{
    background-color: cyan;
}
